@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="colorForHome"></div>
    <h1>ToDo || !ToDo</h1>
    <br/> <br/> <br/>
    <p class="lead">Click here to create a user so you can start making your ToDo list.</p>
    <br/> <br/> <br/>
    <p><a href='@Url.Action("Create", "ToDoes")' class="btn btn-primary btn-lg">Register &raquo;</a></p>
</div>

